<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trakt Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  </head>
  <body class="text-stone-800 bg-stone-50 px-4 py-2">
    <div hx-get="/status/_partial" hx-trigger="every 2s" hx-swap="innerHTML">
      {% include "status.html" %}
    </div>
  </body>
</html>
