<h2 class="text-2xl">Status</h2>
<p class="text-lg text-gray-600 leading-tight mb-2">
  Overview of proxies, backends, and servers currently running.
  <br />
  This is a reflection of current state, not the configuration.
</p>
<div>
  {% for backend in backends %}
  <div>
    <h3 class="text-xl"><span class="text-sky-700">proxy1</span>::<span class="text-gray-600">{{ backend.id }}</span></h3>
    <div>
      Game Edition: {{ backend.game_edition }}
    </div>
    <div class="flex flex-col gap-0.5">
      {% for server in backend.servers %}
      <div class="flex">
        {% let classname %}
        {% match server.status %}
          {% when model::ServerStatus::Active %}
            {% let classname = "bg-sky-300" %}
          {% when model::ServerStatus::Stale %}
            {% let classname = "bg-orange-300" %}
        {% endmatch %}
        <div class="px-2 py-1 flex items-center uppercase text-sm font-medium {{ classname }}">
          <span>{{ server.status }}</span>
        </div>
        <div class="grow px-2 py-1 flex gap-2 bg-stone-100">
          <div class="grow flex items-center gap-1">
            <span>{{ server.address }}</span>
            <div class="text-sm uppercase">
            {% if server.health.alive %}
            <span class="text-green-700">OK</span>
            {% else %}
            <span class="text-red-700">not alive {% if !server.health.ever_alive -%}
              (never was)
            {%- endif %}</span>
            {% endif %}
            </div>
          </div>
          <div>{{ server.load_score }} players</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
