[Unit]
Description=Trakt Load Balancer
After=network-online.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/trakt --ignore-stdin --raise-ulimit --config /etc/trakt.toml

[Install]
WantedBy=multi-user.target
